html {
  background-color: #f8b195;
}

body {
  margin: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  text-decoration: none;
  color: #355c7d;
}


.container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  padding: 70px 20px;
}

form {
  display: flex;
  flex-flow: column nowrap;

  width: 350px;
  padding: 20px 20px;

  border: 1px solid #c06c84;
  border-radius: 10px;
  background-color: #c06c84;
}

form label {
  display: flex;
  flex-flow: row;
  justify-content: center;
  color: #355c7d;
  padding: 10px 10px;
}

form input,
form button {
  box-sizing: border-box;
  font-size: 14px;
  outline: 0;
  padding: 4px;
  width: 100%;
}

#myPassword:valid{
  background-color:#CEF19E;
}

form button {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  background: #355c7d;
  border: 1px solid #355c7d;
  border-radius: 5px;
  color: #fff;

  font-size: 14px;
  padding: 10px 10px;
  margin: 10px 0;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.3s ease background;
  &:hover {
    background: #c06c84;
    color: #355c7d;
    transition: 0.3s ease background;
  }
}

.error-message {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;

  padding: 10px 10px;
  margin: 10px 0;
  background: #f67280;

  color: #fff;
}

