<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<body>
<ul>
<li><a href="/">Home</a></li>
<li><a href="/auth/login">Log In</a></li>
<li><a href="/auth/signup">Sign In</a></li>
<li> <a href="/auth/logout">Log Out</a></li>
<li><a href="/private">Private</a></li>
</ul>

  {{{body}}}

  <script src="/javascripts/script.js"></script>
</body>

</html>